/* style.css  */

body {
    background-color: #181818;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 1.5;
    color: #9cdcfe;;
    margin: 0;
    padding: 0;
}

#output {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}